* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v706_96 {
  width: 375px;
  height: 1072px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v706_97 {
  width: 221px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 17px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v706_107 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 170px;
  left: 192px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v706_108 {
  width: 149px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 566px;
  left: 14px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v706_98 {
  width: 169px;
  height: 199px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_99 {
  width: 169px;
  height: 199px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 192px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_101 {
  width: 169px;
  height: 199px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_102 {
  width: 169px;
  height: 199px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 192px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_103 {
  width: 169px;
  height: 150px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 623px;
  left: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_104 {
  width: 169px;
  height: 166px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 192px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_105 {
  width: 169px;
  height: 199px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 783px;
  left: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_106 {
  width: 169px;
  height: 199px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 824px;
  left: 192px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
