<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet" /><link href="./main.css" rel="stylesheet" /><title>Document</title><link href="./main.css" rel="stylesheet" /><title>Document</title><link href="./main.css" rel="stylesheet" /><title>Document</title></head><body><div class="v728_118"><span class="v728_119">Sabarish</span><span class="v728_120">SpaceSurf</span><div class="v728_121"></div><div class="v728_122"></div><div class="v728_123"></div><div class="v728_124"></div><div class="v728_125"></div><div class="v728_126"></div><div class="v728_127"></div><div class="v728_128"></div><span class="v728_129">Coffee</span></div></body>

<style>
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v728_118 {
  width: 100%;
  height: 826px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v728_119 {
  width: 249px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 90px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v728_120 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 435px;
  left: 90px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v728_121 {
  width: 226px;
  height: 259px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 90px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_122 {
  width: 225px;
  height: 260px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 237px;
  left: 339px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_123 {
  width: 225px;
  height: 259px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 588px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_124 {
  width: 226px;
  height: 259px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 836px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_125 {
  width: 226px;
  height: 222px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 90px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_126 {
  width: 225px;
  height: 245px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 530px;
  left: 339px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_127 {
  width: 225px;
  height: 293px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 588px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_128 {
  width: 226px;
  height: 294px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 384px;
  left: 836px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_129 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 173px;
  left: 339px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
</style></html>