<head>
			<meta charset="utf-8">
				<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet" /><link href="./main.css" rel="stylesheet" /><title>Document</title><link href="./main.css" rel="stylesheet" /><title>Document</title><link href="./css/main.css" rel="stylesheet" /><title>Document</title><link href="./main.css" rel="stylesheet" /><title>Document</title><link href="./main.css" rel="stylesheet" /><title>Document</title></head>
	
	<body>

		<div class="w3-hide-small w3-hide-medium">
		<div class="v728_118"><span class="v728_119">Text</span><span class="v728_120">SpaceSurf</span><div class="v728_121"></div><div class="v728_122"></div><div class="v728_123"></div><div class="v728_124"></div><div class="v728_125"></div><div class="v728_126"></div><div class="v728_127"></div><div class="v728_128"></div><span class="v728_129">Coffee</span></div></div>

		<div class="w3-hide-large w3-hide-medium"><div class="v706_96"><span class="v706_97">Text</span><span class="v706_107">Coffee</span><span class="v706_108">SpaceSurf</span>
	
	<div class="v706_98"></div>	
	<div class="v706_99"></div>
	<div class="v706_101"></div>
	<div class="v706_102"></div>
	<div class="v706_103"></div>
	<div class="v706_104"></div>
	<div class="v706_105"></div>
	<div class="v706_106"></div>
	
	</div>
	
	
	<div class="w3-hide-large w3-hide-small">
	<div class="v731_130"><span class="v731_131">Text</span><span class="v731_132">SpaceSurf</span><div class="v731_133"></div><div class="v731_134"></div><div class="v731_135"></div><div class="v731_136"></div><div class="v731_137"></div><div class="v731_138"></div><div class="v731_139"></div><div class="v731_140"></div><span class="v731_141">Coffee</span></div></div>
	
	</body>

<style>
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v706_96 {
  width: 375px;
  height: 1072px;
	  background: url();
  background-repeat: no-repeat;
  background-size: auto;
	background-attachment: fixed;

  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v706_97 {
  width: 221px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 17px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v706_107 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 170px;
  left: 192px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v706_108 {
  width: 149px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 566px;
  left: 14px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v706_98 {
  width: 169px;
  height: 199px;
  background: url(/di/355.png);

  opacity: 1;
  position: absolute;
  top: 148px;
  left: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_99 {
  width: 169px;
  height: 199px;
  background: url(/di/356.png);

  opacity: 1;
  position: absolute;
  top: 227px;
  left: 192px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_101 {
  width: 169px;
  height: 199px;
  background: url(/di/357.png);
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_102 {
  width: 169px;
  height: 199px;
  background: url(/di/358.png);

  opacity: 1;
  position: absolute;
  top: 436px;
  left: 192px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_103 {
  width: 169px;
  height: 150px;
  background: url(/di/359.png);
  opacity: 1;
  position: absolute;
  top: 623px;
  left: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_104 {
  width: 169px;
  height: 166px;
  background: url(/di/360.png);
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 192px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_105 {
  width: 169px;
  height: 199px;
  background: url(/di/361.png);
  opacity: 1;
  position: absolute;
  top: 783px;
  left: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v706_106 {
  width: 169px;
  height: 199px;
  background: url(/di/362.png);
  opacity: 1;
  position: absolute;
  top: 824px;
  left: 192px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

</style>
<style>
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v728_118 {
  width: 100%;
  height: 826px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v728_119 {
  width: 249px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 48px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v728_120 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 438px;
  left: 48px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v728_121 {
  width: 226px;
  height: 259px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 48px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_122 {
  width: 225px;
  height: 260px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 297px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_123 {
  width: 225px;
  height: 259px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 546px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_124 {
  width: 226px;
  height: 259px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 794px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_125 {
  width: 226px;
  height: 222px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 515px;
  left: 48px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_126 {
  width: 225px;
  height: 245px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 533px;
  left: 297px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_127 {
  width: 225px;
  height: 293px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 546px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_128 {
  width: 226px;
  height: 294px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 387px;
  left: 794px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v728_129 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 176px;
  left: 297px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}

</style>

<style>
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v731_130 {
  width: 768px;
  height: 621px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v731_131 {
  width: 240px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 33px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v731_132 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 316px;
  left: 36px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v731_133 {
  width: 162px;
  height: 197px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 36px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v731_134 {
  width: 161px;
  height: 198px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 214px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v731_135 {
  width: 161px;
  height: 197px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 392px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v731_136 {
  width: 162px;
  height: 198px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 569px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v731_137 {
  width: 162px;
  height: 169px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 36px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v731_138 {
  width: 161px;
  height: 186px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 214px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v731_139 {
  width: 161px;
  height: 223px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 392px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v731_140 {
  width: 162px;
  height: 224px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 569px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v731_141 {
  width: 149px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 116px;
  left: 214px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}



</style>
